# Server Configuration
SERVER_PORT={SERVER_PORT}
SPRING_PROFILES_ACTIVE={SPRING_PROFILES_ACTIVE}

# Database Configuration
DB_URL=your_DB_URL
DB_USERNAME=root
DB_PASSWORD=your_db_password

# JWT Configuration
JWT_SECRET={JWT_SECRET}
JWT_ISSUER={JWT_ISSUER}
JWT_EXPIRATION_MINUTES={JWT_EXPIRATION_MINUTES}

# External Services
FACILITY_SERVICE_BASE_URL={FACILITY_SERVICE_BASE_URL}
ENFORCE_FACILITY_VALIDATION={ENFORCE_FACILITY_VALIDATION}

# Dev Tools
DEV_TOOLS_ENABLED={DEV_TOOLS_ENABLED}
